<%- include('partials/header'); %>
<%- include('partials/navbar'); %>
  <div class="container">
    
    <div class="card" id="ask-card">

      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>

      <div class="card-body">
        <form method="POST" action="/perguntasalvo">
          <label class="form-label">Titulo</label>
          <input type="text"  placeholder="Titulo" class="form-control" name="title"/></br>
          <label class="form-label">Descrição</label>
          <!-- <input type="text"  placeholder="descreva sua pergunta aqui" class="form-control" name="descriptonText"/></br> -->
          <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="description"></textarea></br>
          <button class="btn btn-success" >Perguntar</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('partials/footer'); %>